* {
	padding: 0;
	margin: 0;
	font-family: "Segoe UI", Arial, sans-serif;
	line-height: 1.7;
}
.App {
	display: flex;
	width: 100%;
	font-size: 16px;
}
.hide {
	display: none;
}
.MainLeft-Container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 50%;
	background-color: #06141d;
	text-align: center;
	height: 100vh;
}
.MainLeft-ContainerBody {
	display: flex;
	flex-direction: column;
	gap: 2rem;
	margin-top: 25%;
}
.MainLeft-Container img {
	width: 35rem;
	margin: 0% auto;
}
.MainLeft-Container p {
	font-size: 2rem;
	font-weight: 600;
	width: 60%;
	margin: 0% auto;
	color: white;
}
.MainRight-Container {
	display: flex;
	flex-direction: column;
	width: 50%;
	margin: 0% auto;
	background-color: rgb(255, 255, 255);
}
.MainRight-Container form {
	display: flex;
	flex-direction: column;
	margin: 0% auto;
	width: 700px;
}
.MainRight-Container h2 {
	text-align: center;
	font-size: 3rem;
	margin-top: 10rem;
}
.MainRight-Container label {
	font-size: 1rem;
	font-weight: 600;
	text-align: left;
}
.MainRight-Container input {
	width: 100%;
	height: 2rem;
	font-size: 1.5rem;
	padding: 0.2rem;
	margin-block: 0.5rem;
}
.MainRight-Container form button,
.BottomForm-Container a {
	border: #364451 1px solid;
	margin: 0% auto;
	padding: 10px;
	font-size: 1.2rem;
	font-weight: 600;
	color: red;
	background: none;
	margin: 0% auto;
	text-decoration: none;
	border-radius: 10px;
	margin-block: 2rem;
}
.MainRight-Container form button:hover,
.BottomForm-Container a:hover {
	background-color: #364451;
	color: white;
	transition: all 0.3s ease-in-out;
}
.BottomForm-Container {
	width: 100%;
	margin: 0% auto;
	text-align: center;
	font-size: 1.2rem;
}
.BottomForm-Container a {
	text-decoration: none;
	font-weight: bold;
	color: #06141d;
	letter-spacing: 0.8px;
}
.BottomForm-Container span {
	font-size: 1rem;
	font-weight: bold;
}
.ERROR-Login {
	font-size: 1rem;
	color: red;
	font-weight: bold;
	margin: 0% auto;
	margin-top: 60px;
	background: yellow;
	padding-inline: 150px;
	padding-block: 20px;
	text-align: center;
}
