* {
	padding: 0%;
	margin: 0%;
}
:root {
	--Color1: #06141d;
	--Color2: #1b2730;
	--Color3: #28343e;
	--Color4: #54626e;
	--Color5: #d9d9d9;
	--Color6: #f5fdff;
	--Color7: #ff0000;

	font-family: "Segoe UI", Arial, sans-serif;
	font-size: 20px;
}
h1 {
	font-size: 2rem;
	font-weight: 700;
	color: white;
}
h2 {
	font-size: 1.5rem;
	font-weight: 700;
}
body {
	background-color: var(--Color1);
	color: white;
	display: flex;
	justify-content: center;
	margin: 0% auto;
	text-align: center;
}
.hide * {
	display: none;
}
.flex-down {
	display: flex;
	flex-direction: column;
}
.LeftPage::-webkit-scrollbar,
.MiddlePage::-webkit-scrollbar {
	display: none;
}
.LeftPage {
	width: 25%;
	height: 100vh;
}
.LeftPage div {
	padding-block: 1rem;
	background-color: #1b2730;
}
.LeftPage input {
	width: 80%;
	border: none;
	color: var(--Color4);
	background-color: white;
	padding: 0.2rem;
	border-radius: 5rem;
	margin-bottom: 1rem;
	font-size: 1rem;
	padding: 0.2rem 1rem;
	margin-top: 2rem;
}
.LeftPage .ProfileHeader img {
	width: 10rem;
	height: 10rem;
	border-radius: 5rem;
}
.LeftPage #Username {
	color: var(--Color4);
	margin-bottom: 1rem;
}
.LeftPage .ProfileHeader p {
	width: 70%;
	font-weight: 500;
	margin: 0% auto;
}
.LeftPage .ProfileHeader section {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0% auto;
}
.LeftPage .ProfileHeader section div {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	color: #f5fdff;
	font-weight: 600;
	width: 50%;
}
.LeftPage .WhoToFollow {
	margin-top: 0.5rem;
}
.LeftPage .FollowList {
	display: flex;
	flex-direction: column;
}
.LeftPage .FollowList li {
	display: flex;
	justify-content: space-between;
	width: 90%;
	margin: 0% auto;
	place-items: center;
	text-align: left;
}
.LeftPage .FollowList li img {
	width: 3.5rem;
	height: 3.5rem;
	border-radius: 5rem;
}
.LeftPage .FollowList li div {
	text-align: left;
	width: 40%;
	margin: 0% auto;
}
.LeftPage .FollowList li div p {
	font-weight: 700;
}
.LeftPage .FollowList li div span {
	font-size: 0.8rem;
	font-weight: 600;
	color: #54626e;
}
.LeftPage .FollowList button {
	cursor: pointer;
	font-size: 0.8rem;
	background: white;
	border: black 1px solid;
	border-radius: 5rem;
	color: var(--Color7);
	font-weight: 700;
	padding-inline: 10%;
	padding-block: 2%;
}
.MiddlePage {
	width: 50%;
	height: 100vh;
	margin-inline: 0.2rem;
	overflow: hidden;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.MiddlePage > nav {
	display: flex;
	justify-content: space-evenly;
	margin-top: 2rem;
	margin-bottom: 1.3rem;
}
.MiddlePage > nav > div {
	display: flex;
	place-items: center;
	justify-content: space-around;
	cursor: pointer;
}
.MiddlePage > nav > div > span {
	margin-inline: 0.5rem;
}
.MiddlePage > .Status > div > nav > button {
	color: var(--Color7);
	background: white;
	font-weight: 700;
}
.MiddlePage .Status {
	display: grid;
	grid-template-columns: 10% 90%;
	width: 95%;
	padding-block: 1rem;
	background-color: #1b2730;
	padding-inline: 2%;
	margin: 0% auto;
}
.MiddlePage .Status img {
	width: 5rem;
	height: 5rem;
	border-radius: 5rem;
}
.MiddlePage input {
	width: 80%;
	border: none;
	color: #06141d;
	padding: 0.2rem;
	border-radius: 5rem;
	margin-bottom: 0.5rem;
	font-size: 1rem;
	padding: 0.5rem 1rem;
}
.MiddlePage .Status nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 80%;
	margin: 0% auto;
}
.MiddlePage .Status button {
	cursor: pointer;
	font-size: 0.8rem;
	background: none;
	color: white;
	border: white 1px solid;
	padding: 0.5rem 1rem;
	border-radius: 5rem;
}
.MiddlePage .PostsContainer {
	display: flex;
	flex-direction: column-reverse;
}
.MiddlePage .PostContainer {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	width: 95%;
	background-color: #1b2730;
	padding: 2%;
	margin: 0% auto;
	margin-top: 1%;
}
.MiddlePage .PostCreated {
	margin-bottom: 0.5rem;
}
.MiddlePage .PostContainer .PostPic {
	width: 5rem;
	height: 5rem;
	border-radius: 5rem;
	margin-bottom: 15%;
}
.MiddlePage .PostContainer .StatusInfo {
	display: flex;
	flex-direction: column;
	width: 85%;
	margin: 0% auto;
}
.MiddlePage .PostContainer .StatusInfo .HeaderInfo {
	display: flex;
	place-items: center;
	justify-content: left;
	gap: 0.5rem;
}
.MiddlePage .PostContainer .StatusInfo .HeaderInfo p {
	font-size: 0.8rem;
	font-weight: 600;
	place-items: center;
}
.MiddlePage .PostContainer .StatusInfo .PostCreated {
	display: flex;
	justify-content: left;
	font-size: 0.6rem;
	font-weight: 600;
}
.MiddlePage .PostContainer .StatusInfo .PostText {
	text-align: center;
	margin: 0% auto;
	background: var(--Color4);
	padding-block: 0.5rem;
	width: 40rem;
}
.MiddlePage .PostContainer .StatusInfo img {
	width: 2rem;
	height: 2rem;
	border-radius: 5rem;
	margin-top: 2%;
	margin-left: 2%;
}
.MiddlePage .PostLikes {
	display: flex;
	place-items: center;
	justify-content: space-between;
	width: 18%;
}
.MiddlePage .PostActions {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0% auto;
	margin-top: 2%;
}
.MiddlePage .PostNav {
	display: flex;
	justify-content: space-between;
	width: 100%;
	margin: 0% auto;
	margin-top: 2%;
}
.MiddlePage .PostNav button {
	cursor: pointer;
	font-size: 0.8rem;
	background: none;
	color: white;
	border: white 1px solid;
	padding: 0.5rem 1rem;
	border-radius: 5rem;
}
.RightPage {
	width: 15%;
	height: 74.4vh;
}
.RightPage Section {
	background-color: var(--Color2);
	height: 100%;
}
.RightPage > section > h2 {
	padding-top: 5%;
}
.RightPage > section > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 0% auto;
	margin-block: 1rem;
	padding: 1rem;
}
.RightPage > section > div > a {
	text-decoration: none;
	color: white;
	font-size: 1rem;
	font-weight: 700;
}
.RightPage img {
	margin-top: 1rem;
}
.Extra-ShowMore {
	color: var(--Color7);
	font-weight: 700;
}
#Btn-Logout {
	margin-top: 1.9rem;
	margin-bottom: 1rem;
	text-decoration: none;
	color: white;
	font-weight: 700;
	background: var(--Color3);
	padding-inline: 1rem;
	padding-block: 0.5rem;
	border: none;
	border-radius: 3rem;
}
.ActionButtons {
	display: flex;
	justify-content: space-around;
	width: 90%;
	margin: 0% auto;
	background: var(--Color2);
	border: var(--Color1) 1px solid;
}
#Btn-Logout:hover {
	background: var(--Color7);
	border: none;
	transition: all 0.2s ease-in-out;
}
#BTN-AddPost:hover {
	background: var(--Color7);
	border: none;
	color: var(--Color6);
	transition: all 0.2s ease-in-out;
}
#BTN-Edit,
#BTN-Delete {
	color: var(--Color7);
	padding-inline: 1rem;
	padding-block: 0.2rem;
	background: var(--Color6);
	border: none;
	font-weight: 700;
}
#BTN-Edit:hover,
#BTN-Delete:hover {
	background: var(--Color7);
	border: none;
	color: var(--Color6);
	transition: all 0.2s ease-in-out;
}
#ICON-Home {
	color: var(--Color7);
	top: 5%;
	left: 30.25%;
}
.PostEditContainer {
	width: 90%;
	margin: 0% auto;
	background: var(--Color3);
	padding-block: 1rem;
}
.EditPostNav {
	display: flex;
	justify-content: space-between;
	width: 50%;
	margin: 0% auto;
}
.EditPostNav button {
	cursor: pointer;
	font-size: 0.8rem;
	background: none;
	color: white;
	border: white 1px solid;
	padding: 0.5rem 1rem;
	border-radius: 5rem;
}
.EditPostNav button:hover {
	background: var(--Color7);
	border: none;
	color: var(--Color6);
	transition: all 0.2s ease-in-out;
}
@media screen and (max-width: 1359px) {
	.RightPage {
		display: none;
	}
	body {
		width: 70%;
		display: flex;
		flex-direction: column;
		place-items: center;
		margin: 0% auto;
	}
	.LeftPage {
		width: 100%;
	}
	.MiddlePage {
		width: 100%;
		overflow: visible;
		overflow-y: auto;
		-ms-overflow-style: auto;
		scrollbar-width: auto;
	}
}
@media screen and (max-width: 700px) {
	body {
		font-size: 16px;
	}
	#Post-StatusForm {
		width: 100%;
		display: block;
	}
	#Post-StatusForm img {
		display: none;
	}
	.PostsContainer img {
		display: none;
	}
	.LeftPage {
		display: block;
		height: fit-content;
	}
}
