*{
    padding: 0%;
    margin: 0%;
}
:root{
    --Color1: #06141D; 
    --Color2: #1B2730; 
    --Color3: #28343E; 
    --Color4: #54626E; 
    --Color5: #D9D9D9; 
    --Color6: #F5FDFF; 
    --Color7: #FF0000;

    font-family: "Segoe UI", Arial, sans-serif;
}
body{
    background-color: var(--Color1);
    color: var(--Color4);
    display: flex;
    justify-content: center;
    margin: 0% auto;
}
.LeftPage{
    width: 20%;
    height: 100vh;
    background-color: var(--Color2);
    margin-inline:.2rem;
}
.MiddlePage{
    width: 45%;
    height: 100vh;
    background-color: var(--Color2);
    margin-inline: .2rem;
}
.RightPage{
    width: 25%;
    height: 100vh;
    background-color: var(--Color2);
    margin-inline: .2rem;
}
#SearchBar{
    width: 25%;
    height: 3rem;
    border-radius: 1rem;
    border: none;
    padding: 0.5rem;
    font-size: 1rem;
    color: #06141D;
    font-size: 1.5rem;
}
