*{
    padding: 0%;
    margin: 0%;
}
:root{
    --Color1: #06141D; 
    --Color2: #1B2730; 
    --Color3: #28343E; 
    --Color4: #54626E; 
    --Color5: #D9D9D9; 
    --Color6: #F5FDFF; 
    --Color7: #FF0000;

    font-family: "Segoe UI", Arial, sans-serif;
    font-size: 20px;
}
h1{
    font-size: 2rem;
    font-weight: 700;
    color: white;
}
h2{
    font-size: 1.5rem;
    font-weight: 700;
}
body{
    background-color: var(--Color1);
    color: white;
    display: flex;
    justify-content: center;
    margin: 0% auto;
    text-align: center;
}
.LeftPage::-webkit-scrollbar,.MiddlePage::-webkit-scrollbar{
    display: none;
}
.LeftPage{
    width: 25%;
    height: 100vh;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.LeftPage div{
    padding-block: 1rem;
    background-color: #1B2730;
}
.LeftPage input{
    width: 80%;
    border: none;
    color: var(--Color4);
    background-color: var(--Color2);
    padding: 0.2rem;
    border-radius: 5rem;
    margin-bottom: 1rem;
    font-size: 1rem;
    padding: 0.2rem 1rem;
    margin-top: 2rem;
}
.LeftPage .ProfileHeader img{
    width: 10rem;
    height: 10rem;
    border-radius: 5rem;
}
.LeftPage #Username{
    color: var(--Color4);
    margin-bottom: 1rem;
}
.LeftPage .ProfileHeader p{
    width: 70%;
    font-weight: 500;
    margin: 0% auto;
}
.LeftPage .ProfileHeader section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0% auto;
}
.LeftPage .ProfileHeader section div{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: #F5FDFF;
    font-weight: 600;
    width: 50%;
}
.LeftPage .WhoToFollow{
    margin-top: 0.5rem;
}
.LeftPage .FollowList{
    display: flex;
    flex-direction: column;
}
.LeftPage .FollowList li{
    display: flex;
    justify-content: space-between;
    width: 75%;
    margin: 0% auto;
    place-items: center;
    text-align: left;
}
.LeftPage .FollowList li img{
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 5rem;
}
.LeftPage .FollowList button{
    cursor: pointer;
    font-size: 0.8rem;
    background: none;
    color: white;
    border: white 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
}
.MiddlePage{
    width: 50%;
    height: 100vh;
    margin-inline: .2rem;
    overflow: hidden;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.MiddlePage > nav{
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
    margin-bottom: 1.3rem;
}
.MiddlePage>nav>div{
    display: flex;
    place-items: center;
    justify-content: space-around;
    cursor: pointer;
}
.MiddlePage>nav>div>span{
    margin-inline: 0.5rem;
}
.MiddlePage .Status{
    display: grid;
    grid-template-columns: 10% 90%;
    width: 95%;
    padding-block: 1rem;
    background-color: #1B2730;
    padding-inline:2% ;
    margin: 0% auto;
}
.MiddlePage .Status img{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
}
.MiddlePage input{
    width: 80%;
    border: none;
    color: #06141D;
    padding: 0.2rem;
    border-radius: 5rem;
    margin-bottom: 0.5rem;
    font-size: 1rem;
    padding: 0.5rem 1rem;
}
.MiddlePage .Status nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0% auto;
}
.MiddlePage .Status button{
    cursor: pointer;
    font-size: 0.8rem;
    background: none;
    color: white;
    border: white 1px solid;
    padding: 0.5rem 1rem;
    border-radius: 5rem;
}
.MiddlePage .PostContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 95%;
    background-color: #1B2730;
    padding: 2%;
    margin: 0% auto;
    margin-top: 1%;
}
.MiddlePage .PostContainer .PostPic{
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    margin-bottom: 15%;
}
.MiddlePage .PostContainer .StatusInfo{
    display: flex;
    flex-direction: column;
    width: 85%;
    margin: 0% auto;
}
.MiddlePage .PostContainer .StatusInfo .HeaderInfo {
    display: flex;
    place-items: center;
    justify-content: left;
    gap: 0.5rem;
}
.MiddlePage .PostContainer .StatusInfo .HeaderInfo p{
font-size: 0.8rem;
    font-weight: 600;
    place-items: center;
}
.MiddlePage .PostContainer .StatusInfo .PostCreated{
  display: flex;
  justify-content: left;
  font-size: 0.6rem;
  font-weight: 600;
}
.MiddlePage .PostContainer .StatusInfo .PostText{
    display: flex;
    justify-content: center;
    text-align: left;
    margin: 0% auto;
}
.MiddlePage .PostContainer .StatusInfo img{
    width: 2rem;
    height: 2rem;
    border-radius: 5rem;
    margin-top: 2%;
    margin-left: 2%;
}
.MiddlePage .PostLikes{
    display: flex;
    place-items: center;
    justify-content: space-between;
    width: 18%;
}
.MiddlePage .PostActions{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0% auto;
    margin-top: 2%;
}
.MiddlePage .PostNav{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 0% auto;
    margin-top: 2%;
}
.MiddlePage .PostNav button{
    cursor: pointer;
        font-size: 0.8rem;
        background: none;
        color: white;
        border: white 1px solid;
        padding: 0.5rem 1rem;
        border-radius: 5rem;
}
.RightPage{
    width: 15%;
    height: 100vh;
    background-color: var(--Color2);
    margin-inline: .2rem;
    background-color: var(--Color2);
}
.RightPage h2{
    margin-top: 2rem;
}
.RightPage>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0% auto;
    margin-block: 1rem;
}
.RightPage>div>a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: 700;
}
.RightPage>div>p{
    text-align: center;
    margin-block: 0.5rem;
}