*{
    padding: 0%;
    margin: 0%;
}
:root{
    --Color1: #06141D; 
    --Color2: #1B2730; 
    --Color3: #28343E; 
    --Color4: #54626E; 
    --Color5: #D9D9D9; 
    --Color6: #F5FDFF; 
    --Color7: #FF0000;

    font-family: "Segoe UI", Arial, sans-serif;
}

body{
    display: flex;
    background-color: var(--Color1);
}
h1{
    font-size: 2.5rem;
}
h2{
    font-size: 2rem;
}

body section{
    margin: 0% auto;
}
.LeftContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    color: var(--Color6);
    width:25%
}
/**Profile Header**/
.ProfileInfoContainer{
    background-color: var(--Color2);
    border-radius: 5%;
    padding: 4%;
}
.ProfileStatsContainer{
    display: flex;
    justify-content: space-around;
}
.ProfileStatsContainer p{
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 1.3;
}
/**-----------------------------------------------**/
/**Who To Follow Container**/
.ToFollowContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: var(--Color2);
    border-radius: 5%;
    margin-top: 1rem;
    gap: 4rem;
}
.ToFollowContainer section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0% auto;
    width: 90%;
}
.ToFollowContainer img {
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    border-radius: 10rem ;
}
.ToFollowContainer div{
    width: 1fr;
    text-align: center;
    font-weight: 700;
    line-height: 1.3;
    padding-top: 20%;
}
.ToFollowContainer section div{
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 0% auto;
}
.ToFollowContainer section button{
    width: 80px;
    height: 30px;
    margin: 0% auto;
    margin-top: 25%;
}
#Box-Name{
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.3;
    color: var(--Color6);}
#Box-Username{
    font-weight: 600;
    line-height: 1.3;
    color: var(--Color4);
}

/**-----------------------------------------------**/
#ProfilePic{
    box-sizing: content-box;
    width: 70%;
    height: 46.99%;
    border-radius: 10rem;
    margin: 0% auto;
    margin-top: 2%;
    margin-bottom: 2%;
}
#SearchBar{
    width: 100%;
    height: 2rem;
    margin: 0% auto;
    margin-bottom: 4%;
    padding: 1%;
    border-radius: 1rem;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    border: none;
    margin-top: 10%;
}
#ProfileStatus{
    width: 80%;
    margin: 0% auto;
    margin-block: 2%;
    font-weight: 600;
    line-height: 1.3;
}